@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


#container{
  background-color: #FFFFF5;
}

#nav{
  background-color: #FFE5E3;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#owner-text{
  font-family: 'omyu_pretty';
  font-size: 20px;
  color: #2e2e2e;
}
#circle{
  width: 30px;
  height: 30px;
}


#post-add-container{
  position: relative;
  display: flex;
  justify-content: center;
}

#post-container{
  width: 80%;
  margin-left: 12%;
  margin-top: 5%;
}
.post{
  display: flex;
  display: inline;
  align-items: center;
  justify-items: center;
  position: relative;
}
.post-text{
  position: absolute;
}
.post-img{
  padding: 1%;
}


#add-button{
  position: absolute;
  position:sticky;
  top: 80%;
  width: 100px;
  height: 100px;
}